.basket-menu-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.basket-menu-item_price {
    display: flex;
    align-items: center;

}

.basket-item_delete-icon {
    margin-left: 5px;
    cursor: pointer;
}

.basket-menu-item_title {
    font-weight: bold;
}

.basket-menu-item:hover {
    background-color: grey;
}